{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>DO with a Tick</h1>
            <p>Life is enjoyable. Yet life is also very busy. There are countless possibilities for what you may be doing. What you do, though, is what counts. Click for a disciplined path.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
